<h1 align='center'> Previsão de Churn - Telco<h1>
    
## Bibliotecas iniciais

In [47]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [48]:
# Lendo o arquivo .csv
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [49]:
#Primeiras 5 linhas do DataFrame
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [139]:
#Últimas 5 linhas dos DataFrame
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [51]:
# Tipo de cada coluna 
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [158]:
def check_fill(df):
    #Cria um dicionario vazio
    fill_cols = {}
    
    #Percorre todas as colunas do dataframe
    for column in df.columns:
        fill_cols.update({column :df[column].isna().count() / df.shape[0] *100})
    
    #Converte o dicionário em um pandas DataFrame e renomeia as colunas
    df_fill = pd.DataFrame.from_dict(fill_cols, orient='index')
    df_fill.reset_index(inplace=True)
    df_fill.rename(columns={'index':'columnName',0:'fillPercent'}, inplace=True)
    
    #Retorna o DataFrame formatado
    return df_fill

In [159]:
#Aplicando a função 'check_fill'
df_fill = check_fill(df)

#Checando os valores obtidos
df_fill

          columnName  fillPercent
0        TechSupport        100.0
1             gender        100.0
2       OnlineBackup        100.0
3         customerID        100.0
4              Churn        100.0
5      SeniorCitizen        100.0
6     MonthlyCharges        100.0
7        StreamingTV        100.0
8      PaymentMethod        100.0
9    StreamingMovies        100.0
10      TotalCharges        100.0
11  DeviceProtection        100.0
12  PaperlessBilling        100.0
13          Contract        100.0
14     MultipleLines        100.0
15    OnlineSecurity        100.0
16   InternetService        100.0
17      PhoneService        100.0
18        Dependents        100.0
19           Partner        100.0
20            tenure        100.0

In [170]:
df_nunique = unique_values(df)

In [181]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [189]:
cols=['MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies']

In [191]:
for col in cols:
    print(df[col].unique())

['No phone service' 'No' 'Yes']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']