<h1 align='center'> Previsão de Churn - Telco<h1>
    
## Bibliotecas iniciais

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Lendo o arquivo .csv
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
#Primeiras 5 linhas do DataFrame
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
#Últimas 5 linhas dos DataFrame
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
# Tipo de cada coluna 
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
def check_fill(df):
    #Cria um dicionario vazio
    fill_cols = {}
    
    #Percorre todas as colunas do dataframe
    for column in df.columns:
        fill_cols.update({column :df[column].isna().count() / df.shape[0] *100})
    
    #Converte o dicionário em um pandas DataFrame e renomeia as colunas
    df_fill = pd.DataFrame.from_dict(fill_cols, orient='index')
    df_fill.reset_index(inplace=True)
    df_fill.rename(columns={'index':'columnName',0:'fillPercent'}, inplace=True)
    
    #Retorna o DataFrame formatado
    return df_fill

In [7]:
#Aplicando a função 'check_fill'
df_fill = check_fill(df)

#Checando os valores obtidos
df_fill

          columnName  fillPercent
0       TotalCharges        100.0
1              Churn        100.0
2            Partner        100.0
3   DeviceProtection        100.0
4     MonthlyCharges        100.0
5     OnlineSecurity        100.0
6             gender        100.0
7    StreamingMovies        100.0
8   PaperlessBilling        100.0
9         Dependents        100.0
10          Contract        100.0
11     PaymentMethod        100.0
12      PhoneService        100.0
13            tenure        100.0
14   InternetService        100.0
15     SeniorCitizen        100.0
16     MultipleLines        100.0
17       TechSupport        100.0
18      OnlineBackup        100.0
19        customerID        100.0
20       StreamingTV        100.0

In [8]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [9]:
cols=['MultipleLines',
'OnlineSecurity',
'OnlineBackup',
'DeviceProtection',
'TechSupport',
'StreamingTV',
'StreamingMovies']

In [10]:
for col in cols:
    print(df[col].unique())

['No phone service' 'No' 'Yes']
['No' 'Yes' 'No internet service']
['Yes' 'No' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']
['No' 'Yes' 'No internet service']

In [11]:
#Conforme visto na célula acima, podemos substituir os valores 'No internet service' ou 'No phone service' 
# apenas por 'No'

for col in cols:
    df[col].replace(['No phone service', 'No internet service'], 'No', inplace=True)
    print(df[col].unique())

['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']

In [12]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

Realizando o agrupamento por faixas:


* Grupo 0 = 0-12
* Grupo 1 = 13-24
* Grupo 2 = 25-36
* Grupo 3 = 37-48
* Grupo 4 = 48-60
* Grupo 5 = 60+

In [13]:
#Range dos grupos
bins = [0,12,24,36,48,60,1000]

#Labels dos grupos
labels=[0,1,2,3,4,5]

#Mapeando de acordo com os dados fornecidos acima 
df['tenure'] = pd.cut(df['tenure'], bins=bins, labels=labels, include_lowest=True)

In [14]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,0,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,2,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,3,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
from sklearn import preprocessing

In [19]:
le = preprocessing.LabelEncoder()

In [20]:
le.fit(df['InternetService'])

LabelEncoder()

In [22]:
le.classes_

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [24]:
df['_InternetService'] = le.fit_transform(df['InternetService'])

    _InternetService InternetService
0                  0             DSL
1                  0             DSL
2                  0             DSL
3                  0             DSL
4                  1     Fiber optic
5                  1     Fiber optic
6                  1     Fiber optic
7                  0             DSL
8                  1     Fiber optic
9                  0             DSL
10                 0             DSL
11                 2              No
12                 1     Fiber optic
13                 1     Fiber optic
14                 1     Fiber optic
15                 1     Fiber optic
16                 2              No
17                 1     Fiber optic
18                 0             DSL
19                 1     Fiber optic
20                 0             DSL
21                 2              No
22                 2              No
23                 0             DSL
24                 0             DSL
25                 0             DSL
26                 1     Fiber optic
27                 0             DSL
28                 0             DSL
29                 0             DSL
30                 1     Fiber optic
31                 1     Fiber optic
32                 0             DSL
33                 2              No
34                 0             DSL
35                 1     Fiber optic
36                 1     Fiber optic
37                 1     Fiber optic
38                 1     Fiber optic
39                 1     Fiber optic